﻿<%-include("head");-%>
<section class="adminPage messages">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <form name="searchForm" action="/search/admin/messages" method="POST">
                        <div class="general">
                            <input type="text" name="searchedItem" placeholder="به دنبال چه هستید..." />   
                            <a onclick="submit_form();return false;"><i class="fal fa-search"></i></a>                        
                        </div>
                    </form>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                    </div>
                </div>
            </div>


                    <div class="row">

                        <%if(searched.length == 0){%>
                            <div class="empty">
        
                                <h1>
                                    <i class="fal fa-search"></i>
                                    نتیجه ای یافت نشد !
                                </h1>
                            </div>
        
                        <%}if(searched.length != 0){%>
                        <% searched.forEach(function(message) {%>

                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="cardRow">
                                        <label>
                                            عنوان پیام
                                        </label>
                                        <p>
                                            <%=message.title%> 
                                        </p>
                                    </div>
                                    <div class="cardRow">
                                        <label>
                                            تاریخ پیام
                                        </label>
                                        <p>
                                           <%= date(message.date)%>
                                        </p>
                                    </div>
                                    <%if(message.user.type=="Uploader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a href="/<%=message.user.userName%>">
                                                <%= message.user.userName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>

                                   <% }%>
                                    <%if(message.user.type=="Downloader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a>
                                                <%= message.user.firstName%> 
                                                <%= message.user.lastName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>
                                        
                                   <% }%>


                                </div>

                                <div class="buttons">
                                    <button type="button"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#answerModal">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </button>
                                    <div class="modal fade"
                                         id="answerModal"
                                         tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p><%=message.message%></p>
                                                    <form action="/send/message/<%=message.unique_id%>/<%=message.user.unique_id%>" method="POST">
                                                    <textarea name="response" placeholder="پاسخ شما" resize="none"></textarea>
                                                    <div class="buttons">
                                                        <button type="submit">
                                                            ارسال پاسخ
                                                            <i class="fal fa-check"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                   <% })%>
                   <%}%>

                    </div>
                </div>
            </div>
            <!-- Tabs content -->

        </div>
    </section>
</section>
<script>
    function submit_form()
    {
      document.searchForm.submit();
    }
    </script>
    


<%-include("scripts");-%>