<%-include("head");-%>
<section class="adminPage users">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <form name="searchForm" action="/search/admin/users" method="POST">
                        <div class="general">
                            <input type="text" name="searchedItem" placeholder="به دنبال چه هستید..." />   
                            <a onclick="submit_form();return false;"><i class="fal fa-search"></i></a>                        
                        </div>
                    </form>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                    </div>
                </div>
            </div>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       id="uploaderH"
                       data-mdb-toggle="tab"
                       href="#uploaderC"
                       role="tab"
                       aria-controls="uploaderC"
                       aria-selected="true">فروشنده</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="downloaderH"
                       data-mdb-toggle="tab"
                       href="#downloaderC"
                       role="tab"
                       aria-controls="downloaderC"
                       aria-selected="false"> خریدار</a>
                </li>
            </ul>
            <!-- Tabs navs -->
            <!-- Tabs content -->
            <div class="tab-content">
                <div class="tab-pane fade show active"
                     id="uploaderC"
                     role="tabpanel"
                     aria-labelledby="uploaderH">
                    <div class="row">

                        <%if(uploader.length == 0){%>
                            <div class="empty">
        
                                <h2>
                                    <i class="fal fa-search"></i>
                                    نتیجه ای یافت نشد !
                                </h2>
                            </div>
        
                        <%}if(uploader.length != 0){%>
                        <% uploader.forEach(function(user) {%>

                        <div class="col-lg-6 col-12">
                           
                                <form action="/delete/user/<%=user.unique_id%>" method="post">
    
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="picture">
                                        <%if(user.profilePicPath && user.profilePicPath.length != 0 && user.profilePicPath != "no picture"){%>
                                            <img src="<%=user.profilePicPath%>" />
                                       <% }if(!user.profilePicPath || user.profilePicPath.length ==0 || user.profilePicPath == "no picture"){%>
                                        <i class="fal fa-user fa-2x"></i>
                                        <%}%>
                                    </div>
                                    <div class="detail">
                                       <% if(user.type=="Uploader"){%>
                                            <span class="name">
                                                <%=user.userName%> 
                                            </span>

                                        <%}if(user.type=="Downloader"){%>
                                            <span class="name">
                                                <%=user.firstName%> 
                                                <%=user.lastName%> 
                                            </span>
                                      <%}%>

                                        <span class="dateAdded">
                                            <%=date(user.date)%> 
                                        </span>

                                    </div>
                                </div>
                                <div class="buttons">

                                    <button type="submit" class="delete">
                                        حذف
                                        <i class="fal fa-trash"></i>
                                    </button>
                                    <a href="/<%=user.userName%>">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                            </form>
                            
                    
                        </div>
                        <%})%>
                    <%}%>


                    </div>
                </div>
                <div class="tab-pane fade"
                     id="downloaderC"
                     role="tabpanel"
                     aria-labelledby="downloaderH">
                     <div class="row">

                        <%if(downloader.length == 0){%>
                            <div class="empty">
        
                                <h2>
                                    <i class="fal fa-search"></i>
                                    نتیجه ای یافت نشد !
                                </h2>
                            </div>
        
                        <%}if(downloader.length != 0){%>
                        <% downloader.forEach(function(user) {%>

                        <div class="col-lg-6 col-12">
                           
                                <form action="/delete/user/<%=user.unique_id%>" method="post">
    
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="picture">
                                        <%if(user.profilePicPath && user.profilePicPath.length != 0 && user.profilePicPath != "no picture"){%>
                                            <img src="<%=user.profilePicPath%>" />
                                       <% }if(!user.profilePicPath || user.profilePicPath.length ==0 || user.profilePicPath == "no picture"){%>
                                        <i class="fal fa-user fa-2x"></i>
                                        <%}%>
                                    </div>
                                    <div class="detail">
                                       <% if(user.type=="Uploader"){%>
                                            <span class="name">
                                                <%=user.userName%> 
                                            </span>

                                        <%}if(user.type=="Downloader"){%>
                                            <span class="name">
                                                <%=user.firstName%> 
                                                <%=user.lastName%> 
                                            </span>
                                      <%}%>

                                        <span class="dateAdded">
                                            <%=date(user.date)%> 
                                        </span>

                                    </div>
                                </div>
                                <div class="buttons">

                                    <button type="submit" class="delete">
                                        حذف
                                        <i class="fal fa-trash"></i>
                                    </button>
                                    <a href="/<%=user.userName%>">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                            </form>
                            
                    
                        </div>
                        <%})%>
                    <%}%>


                    </div>
                </div>
            </div>
            <!-- Tabs content -->

        </div>
    </section>
</section>
<script>
    function submit_form()
    {
      document.searchForm.submit();
    }
    </script>
    

<%-include("scripts");-%>