﻿<%-include("head");-%>
<section class="adminPage messages">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <input type="text" placeholder="جستجوی پیام ها" />
                    <a onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                    </div>
                </div>
            </div>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       id="acceptedH"
                       data-mdb-toggle="tab"
                       href="#acceptedC"
                       role="tab"
                       aria-controls="acceptedC"
                       aria-selected="true">دیده شده</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="queueH"
                       data-mdb-toggle="tab"
                       href="#queueC"
                       role="tab"
                       aria-controls="queueC"
                       aria-selected="false">در انتظار</a>
                </li>
            </ul>
            <!-- Tabs navs -->
            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show active"
                     id="acceptedC"
                     role="tabpanel"
                     aria-labelledby="acceptedH">
                    <div class="row">


                        <% rMessages.forEach(function(rMessage) {%>
                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="cardRow">
                                        <label>
                                            عنوان پیام
                                        </label>
                                        <p>
                                            <%=rMessage.title%> 
                                        </p>
                                    </div>
                                    <div class="cardRow">
                                        <label>
                                            تاریخ پیام
                                        </label>
                                        <p>
                                            <%= rMessage.date%>
                                        </p>
                                    </div>
                                    <%if(rMessage.user.type == "Uploader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a href="/<%=rMessage.user.userName%>">
                                                <%= rMessage.user.userName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>

                                   <% }%>
                                    <%if(rMessage.user.type=="Downloader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a>
                                                <%= rMessage.user.firstName%> 
                                                <%= rMessage.user.lastName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>
                                        
                                   <% }%>

                                </div>
                                <div class="buttons">
                                    <button type="button"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#answerModal">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </button>
                                    <div class="modal fade"
                                         id="answerModal"
                                         tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                        <p><%=rMessage.message%></p>  
                                                        <form action="/send/message/<%=rMessage.unique_id%>" method="POST">
                                                    <textarea name="response" placeholder="پاسخ شما"><%=rMessage.response%></textarea>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%})%>
                </div>
                <div class="tab-pane fade"
                     id="queueC"
                     role="tabpanel"
                     aria-labelledby="queueH">
                    <div class="row">


                        <% messages.forEach(function(message) {%>

                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="cardRow">
                                        <label>
                                            عنوان پیام
                                        </label>
                                        <p>
                                            <%=message.title%> 
                                        </p>
                                    </div>
                                    <div class="cardRow">
                                        <label>
                                            تاریخ پیام
                                        </label>
                                        <p>
                                           <%= message.date%>
                                        </p>
                                    </div>
                                    <%if(message.user.type=="Uploader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a href="/<%=message.user.userName%>">
                                                <%= message.user.userName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>

                                   <% }%>
                                    <%if(message.user.type=="Downloader"){%>
                                        <div class="cardRow">
                                            <label>
                                                کاربر
                                            </label>
                                            <a>
                                                <%= message.user.firstName%> 
                                                <%= message.user.lastName%> 
                                                <i class="fal fa-user"></i>
                                            </a>
                                        </div>
                                        
                                   <% }%>


                                </div>

                                <div class="buttons">
                                    <button type="button"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#answerModal">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </button>
                                    <div class="modal fade"
                                         id="answerModal"
                                         tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p><%=message.message%></p>
                                                    <form action="/send/message/<%=message.unique_id%>" method="POST">
                                                    <textarea placeholder="پاسخ شما" resize="none"></textarea>
                                                    <div class="buttons">
                                                        <button type="submit">
                                                            ارسال پاسخ
                                                            <i class="fal fa-check"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                   <% })%>


                    </div>
                </div>
            </div>
            <!-- Tabs content -->

        </div>
    </section>
</section>

<%-include("scripts");-%>