<%-include("head");-%>
<section class="adminPage finance">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <input type="text" placeholder="جستجوی  تراکنش ها" />
                    <a onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <% orders.forEach(function(order) {%>
                <div class="col-lg-6 col-12">
                    <div class="card productCard">
                        <div class="cardRow">
                            <label> کد تراکنش</label>
                            <p> <%=order.code%> </p>
                        </div>
                        <div class="cardRow">
                            <label> مقدار تراکنش</label>
                            <p> <span> <%=order.totalPrice%> </span> تومان </p>
                        </div>
                        <div class="cardRow">
                            <label>  تاریخ تراکنش </label>
                            <p> <%=order.date%> </p>
                        </div>


                        <%if(order.user.type=="Uploader"){%>
                            <div class="cardRow">
                                <label>  خریدار </label>
                                <a href="/<%=order.user.userName%>">
                                    <%=order.user.userName%>
                                    <i class="fal fa-user"></i>
                                </a>
                            </div>
                       <% }%>
                       <% if(order.user.type=="Downloader"){%>
                        <div class="cardRow">
                            <label>  خریدار </label>
                                <%=order.user.firstName%>
                                <%=order.user.lastName%>
                                <i class="fal fa-user"></i>
                            </a>
                        </div>
                       <% }%>





                        <div class="cardRow">
                            <label>  فروشنده </label>
                            <% order.user.products.forEach(function(product) { %>
                                <%console.log(product);%>
                            <a href="/<%=product.product.user.userName%>">
                                <%=product.product.user.userName%> 
                                <i class="fal fa-user"></i>
                            </a>
                        <%})%>
                        </div>
                    </div>
          
                </div>
            <%})%>

            </div>

        </div>
    </section>
</section>

<%-include("scripts");-%>