<%-include("head");-%>
<section class="adminPage products">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <form name="searchForm" action="/search/admin/products" method="POST">
                        <div class="general">
                            <input type="text" name="searchedItem" placeholder="به دنبال چه هستید..." />   
                            <a onclick="submit_form();return false;"><i class="fal fa-search"></i></a>                        
                        </div>
                    </form>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="new" class="sortOption selected" id="new">جدیدترین</label>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                        <label for="cheap" class="sortOption" id="cheap">ارزان ترین</label>
                        <label for="expensive" class="sortOption" id="expensive">گران ترین</label>
                    </div>
                </div>
            </div>

                    <div class="row">

                        <% searched.forEach(function(cProduct) {%>
                        <form action="/delete/product/<%=cProduct.productId%>" method="POST">
                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="picture">
                                        <img src="\<%=cProduct.coverPath%>" />
                                    </div>
                                    <div class="detail">
                                        <span class="name">
                                            <%=cProduct.fileName%>
                                        </span>
                                        <span class="dateAdded">
                                            <%=cProduct.date%>
                                        </span>

                                    </div>
                                </div>
                                <div class="buttons">

                                    <button type="submit" class="delete">
                                        حذف
                                        <i class="fal fa-trash"></i>
                                    </button>
                                    <a href="/Product/<%=cProduct.productId%>/<%=cProduct.fileName%>">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <%})%>
                    </div>
                </div>

                </div>
            </div>
            <!-- Tabs content -->

        </div>
    </section>
</section>
<script>
    function submit_form()
    {
      document.searchForm.submit();
    }
    </script>
    

<%-include("scripts");-%>

