<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page cartPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="row top">
                <div class="col-md-9 col-sm-12 items">
                    <div class="row middle">
                        <% products.forEach(function(product) { %>
                        <div class="col-md-12 col-lg-6">
                            <div class="card item">
                                <div class="row bottom">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                        <a href="/product/<%=product.item.productId%>/<%=product.item.fileName%>">
                                            <img src="<%=product.item.coverPath%>" />
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                        <h6 class="name">
                                            <%=product.item.fileName%>
                                        </h6>
                                        <p>سایز
                                            <% if (product.size == "original"){%>
                                            اصلی
                                            <% } %>
                                            <% if (product.size == "large"){%>
                                            بزرگ
                                            <% } %>
                                            <% if (product.size == "medium"){%>
                                            متوسط
                                            <% } %>
                                            <% if (product.size == "small"){%>
                                            کوچک
                                            <% } %>
                                        </p>
                                        <p class="price">
                                            <% if (product.size == "original"){%>
                                            <% if(product.item.orginalPrice == 0){%>
                                            رایگان
                                            <% } %>
                                            <% if(product.item.orginalPrice != 0){%>
                                            <span><%=product.item.orginalPrice%></span>
                                            تومان
                                            <% } %>

                                            <%} %>
                                            <% if (product.size == "large"){%>
                                            <% if(product.item.largePrice == 0){%>
                                            رایگان
                                            <% } %>
                                            <% if(product.item.largePrice != 0){%>
                                            <span><%=product.item.largePrice%></span>
                                            تومان
                                            <% } %>

                                            <%} %>
                                            <% if (product.size == "medium"){%>
                                            <% if(product.item.mediumPrice == 0){%>
                                            رایگان
                                            <% } %>
                                            <% if(product.item.mediumPrice != 0){%>
                                            <span><%=product.item.mediumPrice%></span>
                                            تومان
                                            <% } %>

                                            <%} %>
                                            <% if (product.size == "small"){%>
                                            <% if(product.item.smallPrice == 0){%>
                                            رایگان
                                            <% } %>
                                            <% if(product.item.smallPrice != 0){%>
                                            <span><%=product.item.smallPrice%></span>
                                            تومان
                                            <% } %>

                                            <%} %>

                                        </p>

                                    </div>
                                    <div class="col-sm-12 buttons">
                                        <a href="/delete-from-cart/<%=product.item.productId%>">
                                            <button type="button" class="delete">
                                                حذف محصول
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 total">
                    <div class="card">
                        <div class="count">
                            <h4> تعداد کالاها </h4>
                            <p> <%=totalQty%> </p>
                        </div>
                        <div class="cost">
                            <h4> قیمت نهایی </h4>
                            <p>
                                <% if(totalPrice == 0){%>
                                رایگان
                                <% } %>
                                <% if(totalPrice != 0){%>
                                <%=totalPrice %>
                                <span> تومان </span>
                                <% } %>

                            </p>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="payment">
                                پرداخت نهایی
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>
<%-include("scripts");-%>
