<%-include("head");-%>


<section class="page dashboardPage">
    <section class="supportButton">
        <a href="/upload" class="uploadLink" data-mdb-toggle="modal"
           data-mdb-target="#supportModal">
            <i class="fal fa-comment-alt-lines"></i>
        </a>
    </section>
    <div class="modal fade"
         id="supportModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <section class="walletButton">
        <a href="/upload" class="uploadLink" data-mdb-toggle="modal"
           data-mdb-target="#walletModal">
            <i class="fal fa-wallet"></i>
        </a>
    </section>
    <div class="modal fade"
         id="walletModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="credit">
                        <label>
                            اعتبار شما
                        </label>
                        <p>
                            10000 تومان
                        </p>
                    </div>
                    <div class="increase">

                        <input type="text" placeholder="مقدار مورد نظر..."/>
                        <a href="#">
                            افزایش اعتبار
                        </a>
                    </div>
                    <div class="cash">
                        <p> <span>9999 9999 9999 9999</span> شماره حساب</p>
                        <input type="text" placeholder="مقدار مورد نظر..." />
                        <a href="#">
                            دریافت
                        </a>

                        <p class="add"> افزودن کارت </p>
                        <div class="carts hidden">
                            <input type="text" class="creditNumber" placeholder="شماره کارت شما..." />
                            <input type="text" class="name" placeholder="نام شما..." />
                            <input type="text" class="ssm" placeholder="کد ملی شما..." />
                            <button type="submit" class="submitCart"> ثیت کارت</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top part">
                <div class="col-12 summary">
                    <div class="picture">
                        <% if (user.profilePicPath == "no picture" || user.profilePicPath === undefined){%>
                        <i class="fal fa-user fa-3x"></i>
                        <%}else{%>
                        <img src="<%=user.profilePicPath%>" />
                        <% }%>
                    </div>
                    <div class="bottom">


                        <div class="name">
                            <p><%=user.userName%></p>
                        </div>
                        <% if(user.type =="Uploader"){%>
                        <div class="socialStats">
                                    <%if(user.email){%>
                                        <div class="mail">
                                            <a href="mailto:<%=user.email%>"><i class="fal fa-envelope"></i></a>
                                        </div>
                                        <%}%>
                                        <% if(user.instagram){%>
                                        <div class="instagram">

                                            <a href="<%=user.instagram%>"> <i class="fab fa-instagram"></i> </a>
                                        </div>
                                        <%}%>
                                        <% if(user.twitter){%>
                                        <div class="twitter">
                                            <a href="<%=user.twitter%>"><i class="fab fa-twitter"></i></a>
                                        </div>

                                        <%  }%>
                                    
                                   

                                    <div class="productsCount">
                                        
                                        <%if(searched.length==0){%>
                                            <p>بدون اثر</p>
                                            <%}else{%>
                                            <label> تعداد آثار:</label>
                                            <p> <%=searched.length%> </p>
                                            <% }%>
                                       
                                    </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12 bio">
                    <p>
                        <%=user.bio%>
                    </p>
                </div>
            </div>
            <div class="notifs part">

                <div class="header" onClick="openContent('notifs')">

                    <h5>
                        پیام های شما
                        <i class="fal fa-angle-down"></i>
                    </h5>

                </div>
                <div class="collapseContent contentHidden">
                    <%if(statusMessage.length){%>
                    <% statusMessage.slice().reverse().forEach(function(message) { %>

                    <%if(message.code==="000"){%>
                    <div class="card notifCard success">
                        <div class="title">
                            <h6> پیام  تایید</h6>
                        </div>
                        <div class="mesage">
                            <p> <%=message.message%></p>
                        </div>
                    </div>
                    <%}%>

                    <%if(message.code==="111"){%>
                    <div class="card notifCard">
                        <div class="title">
                            <h6> پیام  عادی</h6>
                        </div>
                        <div class="mesage">
                            <p> <%=message.message%></p>
                        </div>
                    </div>

                    <%}%>
                    <%if(message.code==="222"){%>
                    <div class="card notifCard error">
                        <div class="title">
                            <h6> پیام  خطا</h6>
                        </div>
                        <div class="mesage">
                            <p> <%=message.message%></p>
                        </div>
                    </div>


                    <% }%>
                    <% })%>
                    <%}else{%>

                    <h6> هیج پیامی ندارید</h6>
                    <%}%>


                </div>
            </div>

            <div class="personalInfo part">
                <div class="header" onClick="openContent('personalInfo')">
                    <h5>
                        مشخصات شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <% if (user.type =="Uploader"){%>
                        <form id="infoForm" name="changInformationForm" action="/changeUserInfoU" enctype="multipart/form-data" method="post">


                            <input name="firstName" type="text" placeholder="نام" value="<%=user.firstName%>" />
                            <input name="lastName" type="text" placeholder="نام خانوادگی" value="<%=user.lastName%>" />
                            <input name="userName" type="text" placeholder="نام کاربری" value="<%=user.userName%>" />
                            <input name="email" type="email" class="mail" placeholder="ایمیل شما" value="<%=user.email%>" />
                            <i class="fal fa-envelope"></i>
                            <input name="instagram" type="url" class="instagram" placeholder="لینک اینستاگرام شما" value="<%=user.instagram%>" />
                            <i class="fab fa-instagram"></i>
                            <input name="twitter" type="url" class="twitter" placeholder="لینک توئیتر شما" value="<%=user.twitter%>" />
                            <i class="fab fa-twitter"></i>
                            <textarea name="bio" class="bio" placeholder="درباره شما..."><%=user.bio%></textarea>
                            <input name="profilePic" id="fileUploader" type="file" class="profilePic" accept="image/*" />
                            <input name="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                            <input name="passwordConfirmation" type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                            <div class="buttons">
                                <button type="button" class="edit" onclick="changeForm()">ویرایش</button>
                                <button type="submit" class="save hiddenButton after" onclick="changeForm()">دخیره</button>
                                <button type="button" class="cancel hiddenButton after" onclick="changeForm()">لغو</button>
                            </div>
                        </form>
                    <%}else{%>
                        <form id="infoForm" name="changInformationForm" action="/changeUserInfoD" enctype="multipart/form-data" method="post">


                            <input name="firstName" type="text" placeholder="نام" value="<%=user.firstName%>" />
                            <input name="lastName" type="text" placeholder="نام خانوادگی" value="<%=user.lastName%>" />
                            <input name="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                            <input name="passwordConfirmation" type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                            <div class="buttons">
                                <button type="button" class="edit" onclick="changeForm()">ویرایش</button>
                                <button type="submit" class="save hiddenButton after" onclick="changeForm()">دخیره</button>
                                <button type="button" class="cancel hiddenButton after" onclick="changeForm()">لغو</button>
                            </div>
                        </form>
                        <button type="button">هنرمند شو</button>

                    <%}%>
                    

                </div>
            </div>
            <% if(user.type =="Uploader"){%>
            <div class="stats part">
                <div class="header" onClick="openContent('stats')">
                    <h5>
                        عملکرد شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="income">
                        <h6> درآمد شما </h6>
                    </div>
                    <div class="productCount">
                        <h6>  تعداد آثار شما </h6>
                    </div>
                    <div class="bestSeller">
                        <h6> پرفروش ترین اثر شما </h6>
                    </div>
                </div>
            </div>
            <%}%>
            <div class="downloads part">
                <div class="header" onClick="openContent('downloads')">
                    <h5>
                        خریدهای شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="owl-carousel">
                        <div class="card item">
                            <div class="row bottom">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                    <a href="#">
                                        <img src="../assets/images/test0.jpg" />
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                    <h6 class="name">
                                        product name
                                    </h6>
                                    <p>
                                        سایز اصلی
                                    </p>
                                    <p class="price">
                                        <span> 12000 </span>
                                        تومان
                                    </p>
                                    <p class="date">
                                        12/09/99
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card item">
                            <div class="row bottom">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                    <a href="#">
                                        <img src="../assets/images/test0.jpg" />
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                    <h6 class="name">
                                        product name
                                    </h6>
                                    <p>
                                        سایز اصلی
                                    </p>
                                    <p class="price">
                                        <span> 12000 </span>
                                        تومان
                                    </p>
                                    <p class="date">
                                        12/09/99
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="card itemPack">
                            <div class="background">
                                <img class="top" src="../assets/images/test1.jpg" />
                                <img class="middle" src="../assets/images/test2.jpg" />
                                <img class="bottom" src="../assets/images/test3.jpg" />
                            </div>
                            <div class="detail">
                                <a href="/order"> مشاهده جزئیات خرید</a>
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <a href="/orders"> مشاهده همه </a>
                    </div>
                </div>
            </div>
            <% if(user.type =="Uploader"){%>
            <div class="col-12 products">
                <div class="row">
                    <% for (var i = 0; i < searched.length; i++){%>
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-xl-3">
                        <a href="/Product/<%=searched[i].productId%>/<%=searched[i].fileName%>">
                            <div class="card product">
                                <div class="card-body">
                                    <img src="<%=searched[i].coverPath%>" />
                                </div>
                                <div class="card-footer">
                                    <p> <%=searched[i].fileName%> </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <%}%>

                </div>

                <div class="buttons">

                    <button type="button" class="seeMore">
                        مشاهده بیشتر
                        <i class="fal fa-angle-down"></i>
                    </button>

                </div>

            </div>
            <%}%>
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<script src="./assets/js/dashboard.js"></script>
<script src="./assets/js/seeMore.js"></script>
<script src="./assets/js/wallet.js"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        items: 1,
        loop: true,
        nav: true,
        margin: 10,
        responsiveClass: true,
    })
</script>
