<%-include("head");-%>
<%-include("notif");%>


<section class="page dashboardPage">
    <section class="supportButton">
        <a href="/upload" class="uploadLink" data-mdb-toggle="modal"
           data-mdb-target="#supportModal">
            <i class="fal fa-comment-alt-lines"></i>
        </a>
    </section>
    <div class="modal fade"
         id="supportModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/sendMessage" method="post">
                    <input class="title" placeholder="عنوان پیام..." type="text" />
                    <textarea name="message" placeholder="پیام شما..."></textarea>
                    <div class="buttons">
                        <button type="submit"> ارسال پیام </button>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top part">
                <div class="col-12 summary">
                    <div class="picture">
                        <% if (user.profilePicPath == "no picture" || user.profilePicPath === undefined){%>
                        <i class="fal fa-user fa-3x"></i>
                        <%}else{%>
                        <img src="<%=user.profilePicPath%>" />
                        <% }%>
                    </div>
                    <div class="bottom">


                        <div class="name">
                            <p><%=user.userName%></p>
                        </div>
                        <% if(user.type =="Uploader"){%>
                        <div class="socialStats">
                            <%if(user.email){%>
                            <div class="mail">
                                <a href="mailto:<%=user.email%>"><i class="fal fa-envelope"></i></a>
                            </div>
                            <%}%>
                            <% if(user.instagram){%>
                            <div class="instagram">

                                <a href="<%=user.instagram%>"> <i class="fab fa-instagram"></i> </a>
                            </div>
                            <%}%>
                            <% if(user.twitter){%>
                            <div class="twitter">
                                <a href="<%=user.twitter%>"><i class="fab fa-twitter"></i></a>
                            </div>

                            <%  }%>



                            <div class="productsCount">

                                <%if(searched.length==0){%>
                                <p>بدون اثر</p>
                                <%}else{%>
                                <label> تعداد آثار:</label>
                                <p> <%=searched.length%> </p>
                                <% }%>

                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12 bio">
                    <p>
                        <%=user.bio%>
                    </p>
                </div>
            </div>
            <div class="part wallet">
                <div class="header" onClick="openContent('wallet')">

                    <h5>

                        کیف پول
                        <span>
                           <% if(user.balance==0 || !user.balance){%>
                                (خالی)
                           <% }if(user.balance !=0 && user.balance){%>
                                (<%=user.balance%>)
                          <%  }%>
                            
                        </span>
                        <i class="fal fa-angle-down"></i>
                    </h5>

                </div>
                <div class="collapseContent contentHidden">
                    <div class="increase">
                        <h5> افزایش اعتبار </h5>
                        <form action="/addFund" method="post">
                        <input type="text" name="amount" placeholder="مقدار مورد نظر..." required/>
                        <div class="buttons">
                            <button type="submit">
                                افزایش اعتبار
                            </button>
                        </form>

                        </div>
                    </div>
                    <%  if(user.type=="Uploader"){%>
                    <div class="cash">
                       <% if(user.creditCardConfirmation == "true" && user.creditCardConfirmation){%>
                            <h5> دریافت پول </h5>
                            <label>
                                شماره حساب
                            </label>
                            <% /* %>
                             <p><%=user.creditCard.cardNumber%></p>
                            <% */ %>
                            <form action="/getFund" method="post">
                            <input type="text" name="amount" placeholder="مقدار مورد نظر..." required/>
                            <div class="buttons">
                                <button type="submit"> دریافت</button>
                            </div>  
                        </form>
                 
                   
                      <%  }%>
                      <% if(user.creditCardConfirmation == "wait" && user.creditCardConfirmation){%>


                        <p > در انتظار تایید </p>

                    <%}%>

                     
                      <% if(user.creditCardConfirmation != "true" && user.creditCardConfirmation != "wait"  || !user.creditCardConfirmation){%>


                        <p class="add"> افزودن کارت </p>
                        <div class="carts hidden">
                            <form action="/addCard" method="post">
                            <input type="text" name="cardNumber" class="creditNumber" placeholder="شماره کارت شما..." required/>
                            <input type="text" name="name" class="name" placeholder="نام شما..." required/>
                            <input type="text" name="sId" class="ssm" placeholder="کد ملی شما..." required/>
                            <div class="buttons">
                                <button type="submit" class="submitCart"> ثبت کارت</button>
                            </div>
                        </form>
                        </div>
                    <%}%>
                        
                    </div>
                    <%}%>

                </div>
            </div>
            <div class="notifs part">

                <div class="header" onClick="openContent('notifs')">

                    <h5>
                        پیام های شما
                        <i class="fal fa-angle-down"></i>
                    </h5>

                </div>
                <div class="collapseContent contentHidden">
                    <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active"
                               id="tab-1"
                               data-mdb-toggle="tab"
                               href="#tabs-1"
                               role="tab"
                               aria-controls="tabs-1"
                               aria-selected="true">سیستمی</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="tab-2"
                               data-mdb-toggle="tab"
                               href="#tabs-2"
                               role="tab"
                               aria-controls="tabs-2"
                               aria-selected="false">دریافتی</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="ex2-content">
                        <div class="tab-pane fade show active"
                             id="tabs-1"
                             role="tabpanel"
                             aria-labelledby="tab-1">

                            <%if(statusMessage.length){%>
                            <% statusMessage.slice().reverse().forEach(function(message) { %>

                            <%if(message.code==="000"){%>
                            <div class="card notifCard success">
                                <div class="title">
                                    <h6> پیام  تایید</h6>
                                    <p class="date">
                                        <%=message.date%>
                                    </p>
                                </div>
                                <div class="mesage">
                                    <p> <%=message.message%></p>
                                </div>
                            </div>
                            <%}%>

                            <%if(message.code==="111"){%>
                            <div class="card notifCard">
                                <div class="title">
                                    <h6> پیام  عادی</h6>
                                    <p class="date">
                                        <%=message.date%>
                                    </p>
                                </div>
                                <div class="mesage">
                                    <p> <%=message.message%></p>
                                </div>
                            </div>

                            <%}%>
                            <%if(message.code==="222"){%>
                            <div class="card notifCard error">
                                <div class="title">
                                    <h6> پیام  خطا</h6>
                                    <p class="date">
                                        <%=message.date%>
                                    </p>
                                </div>
                                <div class="mesage">
                                    <p> <%=message.message%></p>
                                </div>
                            </div>


                            <% }%>
                            <% })%>
                            <%}else{%>

                            <h6 style="margin: auto;"> هیج پیامی ندارید</h6>
                            <%}%>
                        </div>
                        <div class="tab-pane fade"
                             id="tabs-2"
                             role="tabpanel"
                             aria-labelledby="tab-2">
                                          <%let empty = true;%>
                                         <% if(messages.length != 0 ){%>
                                            
                                            <% messages.slice().reverse().forEach(function(message) { %>
                                                <% if(message.response && message.response != ""){%>
                                                     <div class="card notifCard">
                                                         <div class="title">
                                                             <h6><%=message.title%></h6>
                                                             <p class="date">
                                                                 <%=message.date%>
                                                             </p>
                                                         </div>
                                                         <div class="yourMessage">
                                                             
                                                             <p> <%=message.message%></p>
                                                         </div>
                                                         <div class="adminMessage">
                                                             <label> پاسخ </label>
                                                             <p> <%=message.response%></p>
                                                         </div>
                                                     </div>
                                                     <%empty=false;%>
                                                 <%}%>
                 
                                        <% })%>
                 
                                        <%  }%>
                                      <%  if(empty==true || messages.length == 0){%>
                                            <h6> هیج پیامی ندارید</h6>  
                                        <%}%>




                        </div>
                    </div>
                    <!-- Tabs content -->



                </div>
            </div>

            <div class="personalInfo part">
                <div class="header" onClick="openContent('personalInfo')">
                    <h5>
                        مشخصات شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <% if (user.type =="Uploader"){%>
                    <form id="infoForm" name="changInformationForm" action="/changeUserInfoU" enctype="multipart/form-data" method="post" onsubmit="return validateUploaderChangeForm()">


                        <input name="firstName" type="text" placeholder="نام" value="<%=user.firstName%>" />
                        <input name="lastName" type="text" placeholder="نام خانوادگی" value="<%=user.lastName%>" />
                        <input name="userName" type="text" placeholder="نام کاربری" value="<%=user.userName%>" />
                        <input name="email" type="email" class="mail" placeholder="ایمیل شما" value="<%=user.email%>" />
                        <i class="social fal fa-envelope"></i>
                        <input name="instagram" type="url" class="instagram" placeholder="لینک اینستاگرام شما" value="<%=user.instagram%>" />
                        <i class="social fab fa-instagram"></i>
                        <input name="twitter" type="url" class="twitter" placeholder="لینک توئیتر شما" value="<%=user.twitter%>" />
                        <i class="social fab fa-twitter"></i>
                        <textarea name="bio" class="bio" placeholder="درباره شما..."><%=user.bio%></textarea>
                        <input name="profilePic" id="fileUploader" type="file" class="profilePic" accept="image/*" />
                        <input name="oldPassword" type="password" class="passwordInput" placeholder="old password" />
                        <input name="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                        <input name="passwordConfirmation" type="password" class="passwordInput" placeholder="تکرار رمز عبور" onkeyup="checkConfirm(this)"/>
                        <div class="buttons">
                            <button type="button" class="edit" onclick="changeForm()">
                                ویرایش
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="submit" class="save hiddenButton after" onclick="changeForm()">
                                ذخیره
                                <i class="fal fa-check"></i>
                            </button>
                            <button type="button" class="cancel hiddenButton after" onclick="changeForm()">
                                لغو
                                <i class="fal fa-times"></i>
                            </button>
                        </div>
                    </form>
                    <%}else{%>
                    <form id="infoForm2" name="changInformationForm2" action="/changeUserInfoD" enctype="multipart/form-data" method="post" onsubmit="return validateDownloaderChangeForm()">


                        <input name="firstName" type="text" placeholder="نام" value="<%=user.firstName%>" />
                        <input name="lastName" type="text" placeholder="نام خانوادگی" value="<%=user.lastName%>" />
                        <input name="oldPassword" type="password" class="passwordInput" placeholder="old password" />
                        <input name="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                        <input name="passwordConfirmation" type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                        <div class="buttons">
                            <button type="button" class="edit" onclick="changeForm()">ویرایش</button>
                            <button type="submit" class="save hiddenButton after" onclick="changeForm()">ذخیره</button>
                            <button type="button" class="cancel hiddenButton after" onclick="changeForm()">لغو</button>
                        </div>
                    </form>
                    <button type="button">هنرمند شو</button>

                    <%}%>


                </div>
            </div>
            <% if(user.type =="Uploader"){%>
            <div class="stats part">
                <div class="header" onClick="openContent('stats')">
                    <h5>
                        عملکرد شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="income">
                        <h6> درآمد شما </h6>
                    </div>
                    <div class="productCount">
                        <h6>  تعداد آثار شما </h6>
                    </div>
                    <div class="bestSeller">
                        <h6> پرفروش ترین اثر شما </h6>
                    </div>
                </div>
            </div>
            <%}%>
            <% if(user.type =="Uploader"){%>
            <div class="sale part">
                <div class="header" onClick="openContent('sale')">
                    <h5>
                         تخفیف
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="create">
                        <form action="/generateD"method="post">
                        <h6> افزودن کد تخفیف</h6>
                        <label>
                            میزان تخفیف
                        </label>
                        <input name="amount" type="text" placeholder="مثلا 10% یا 1000تومان" required/>
                        <div class="dates">
                            <div class="start">
                                <label> تاریخ شروع</label>
                                <input name="fromDate"  type="date" required/>
                            </div>
                            <div class="end">
                                <label> تاریخ پایان</label>
                                <input name="toDate" type="date" required/>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit">
                                تولید کد
                            </button>
                        </div>
                        </form>
                    </div>

                   <% if(discounts && discounts.length != 0){ %>
                        <div class="history">
                            <h6>  کدهای تخفیف شما</h6>
                            <ul class="pastCodes">
                     <% discounts.forEach(function(discount) { %>
                                <li>
                                    <div class="saleCard">
                                        <label class="amount">
                                            مقدار <span><%=discount.amount%>%</span>
                                        </label>
                                        <label class="code">
                                            کد <span><%=discount.code%></span>
                                        </label>
                                        <label class="start">
                                            از تاریخ <span> <%=discount.fromDate%> </span>
                                        </label>
                                        <label class="end">
                                            تا تاریخ <span> <%=discount.toDate%></span>
                                        </label>
                                    </div>
                                </li>
                                <%})%>
                            </ul>
                        </div>

                    <%}%>



                </div>
            </div>
            <%}%>
            <div class="downloads part">
                <div class="header" onClick="openContent('downloads')">
                    <h5>
                        سفارشات شما
                        <i class="fal fa-angle-down"></i>
                    </h5>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="owl-carousel">
                        <% orders.forEach(function(order) { %>
                            
                            <% if (order.products.length == 1){%>
                                <div class="card item">
                                    <div class="row bottom">
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                            <a href="/Product/<%=order.products[0].product.productId%>/<%=order.products[0].product.fileName%>">
                                                <img src="<%=order.products[0].product.coverPath%>" />
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                            <h6 class="name">
                                                <%= order.products[0].product.fileName%>
                                            </h6>
                                            <p>
                                                <%= order.products[0].size%>
                                            </p>
                                            <p class="price">
                                                <span> <%= order.totalPrice%> </span>
                                                تومان
                                            </p>
                                            <p class="date">
                                                12/09/99
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            <% }else if (order.products.length > 1){ %>
                                <div class="card itemPack">
                                    <div class="background">
                                        <img class="top" src="<%=order.products[0].product.coverPath%>" />
                                        <img class="middle" src="<%=order.products[1].product.coverPath%>" />
                                    </div>
                                    <div class="detail">
                                        <a href="/dashboard/orders/<%=order.orderId%>"> مشاهده جزئیات خرید</a>
                                    </div>
                                </div>
                            <% } %>
                            
                        <%});%>
                    </div>

                    <div class="buttons">
                        <a href="/orders"> مشاهده همه </a>
                    </div>
                </div>
            </div>
            
            <% if(user.type =="Uploader"){%>
            <div class="col-12 products">
                <div class="row">
                    <% for (var i = 0; i < searched.length; i++){%>
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-xl-3">
                        <a href="/Product/<%=searched[i].productId%>/<%=searched[i].fileName%>">
                            <div class="card product">
                                <div class="card-body">
                                    <img src="<%=searched[i].coverPath%>" />
                                </div>
                                <div class="card-footer">
                                    <p> <%=searched[i].fileName%> </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <%}%>

                </div>

                <div class="buttons">

                    <button type="button" class="seeMore" id="showMoreButton">
                        مشاهده بیشتر
                        <i class="fal fa-angle-down"></i>
                    </button>

                </div>

            </div>
            <%}%>
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<script src="./assets/js/dashboard.js"></script>
<script src="./assets/js/wallet.js"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        items: 1,
        loop: true,
        nav: true,
        margin: 10,
        responsiveClass: true,
    })
</script>
<% var productsLength = searched.length;%>
<script>
    var getProductsLength = <%=productsLength%> ;
    var clickCounter = 4;
    var extra = getProductsLength % 4;
    if (getProductsLength < 4) {
        $("#showMoreButton").fadeOut(400);
    }


    $(".dashboardPage .products button.seeMore").click(function () {
        clickCounter = clickCounter + 4;
        if (clickCounter + extra > getProductsLength || clickCounter == getProductsLength) {
            $("#showMoreButton").fadeOut(400);
        }

    });
</script>
<script>
    var error1 = "<%=error1%>" ;
    console.log("hello");
    if(error1 === "notUploader")
        notifError("برای آپلود کردن فایل ، شما باید هنرمند باشید")
</script>
