<%-include("head");-%>

<section class="page uploadPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <%-include("notif");-%>
            <div class="row">
                <form action="/editProduct" enctype="multipart/form-data" method="post">
                    <div class="info">
                        <h4> تغییر اطلاعات اثر </h4>
                        <input name="productId" type="text" class="hiddenInput" value="<%=product.productId%>" />
                        <div class="name">

                            <input name="fileName" type="text" class="nameInput" placeholder="<%=product.fileName%>" />
                        </div>
                        <div class="tags">
                            <input name="tags" type="text" class="tagsInput" placeholder="با استفاده از تگ ها بیشتر دیده شوید" />
                            <p> <% for(var i=0; i < product.tags.length ;i++){ %>
                                <% var tag = product.tags[i] %>
                                <% var path = product.tags[i].replace("#","") %>
                                <a href="/tags/<%=path%>"> <%=tag%> </a>
                                <% } %>
                            </p>
                        </div>
                        <div class="description">
                            <textarea name="description" class="descriptionText" maxlength="100" placeholder="توضیحات اثر"><%=product.description%></textarea>
                        </div>
                    </div>
                    <div class="uploadPic">
                        <input id ="productUploader"type="file" name="productFiles" />
                        <i class="far fa-spinner-third fa-spin hidden"></i>
                        <i class="far fa-check-circle hidden"></i>
                    </div>
                    <div class="category">
                        <lable class="title"> نوع </lable>

                        <div class="options">
                            <input type="text" id="types" name = "types" style="display:none;" />

                            <label for="photography" class="radioLabel" id="photography">عکاسی</label>

                            <label for="graphic" class="radioLabel" id="graphic">گرافیک</label>

                            <label for="clip" class="radioLabel" id="clip">کلیپ</label>
                        </div>
                    </div>
                    <div class="pricing original">
                        <input name ="orginalPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز اصلی" maxlength="11" value="<%=product.orginalPrice%>"/>
                        <label class="toman"> تومان </label>
                        <label class="free"> رایگان </label>
                    </div>
                    <div class="pricing large">
                        <input name ="largePrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز بزرگ " maxlength="11" value="<%=product.largePrice%>"/>
                        <label class="toman"> تومان </label>
                        <label class="free"> رایگان </label>
                    </div>
                    <div class="pricing medium">
                        <input name ="mediumPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز متوسط" maxlength="11" value="<%=product.mediumPrice%>" />
                        <label class="toman"> تومان </label>
                        <label class="free"> رایگان </label>
                    </div>
                    <div class="pricing small">
                        <input name ="smallPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز کوچک" maxlength="11" value="<%=product.smallPrice%>" />
                        <label class="toman"> تومان </label>
                        <label class="free"> رایگان </label>
                    </div>
                    <div class="buttons">
                        <button type="submit">تایید</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<!-- Custom -->
<script src="/assets/js/uploadPage.js"></script>
