<%-include("head");-%>


<section class="page homePage">
    <%-include("header");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="productTabs">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"
                           id="bestTabH"
                           data-mdb-toggle="tab"
                           href="#bestTabC"
                           role="tab"
                           aria-controls="bestTabC"
                           aria-selected="true">پر طرفدارترین ها</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           id="downTabH"
                           data-mdb-toggle="tab"
                           href="#downTabC"
                           role="tab"
                           aria-controls="downTabC"
                           aria-selected="false">پر دانلودترین ها</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           id="latestTabH"
                           data-mdb-toggle="tab"
                           href="#latestTabC"
                           role="tab"
                           aria-controls="latestTabC"
                           aria-selected="false">جدیدترین ها</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
                <!-- Tabs content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active"
                         id="bestTabC"
                         role="tabpanel"
                         aria-labelledby="bestTabH">
                        <div class="row">

                            <% bestOfAll.forEach(function(product) { %>


                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                                <a href="/Product/<%=product.productId%>/<%=product.fileName%>">

                                    <div class="card product hiddenItem">
                                        <div class="card-body">
                                            <img src="<%=product.coverPath%>" />
                                        </div>
                                        <div class="card-footer">

                                            <p> <%=product.fileName%> </p>
                                            <p>
                                                <%=product.user.firstName%>
                                                <i class="fal fa-user"></i>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <% }) %>
                        </div>
                        <div class="buttons">
                            <button type="button" class="seeMore">

                                مشاهده بیشتر
                                <i class="fal fa-angle-down"></i>
                            </button>
                        </div>

                    </div>
                    <div class="tab-pane fade"
                         id="downTabC"
                         role="tabpanel"
                         aria-labelledby="downTabH">
                        <div class="row">
                            <% bestSales.forEach(function(product) { %>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


                                <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                                    <div class="card product hiddenItem">
                                        <div class="card-body">
                                            <img src="<%=product.coverPath%>" />
                                        </div>
                                        <div class="card-footer">

                                            <p> <%=product.fileName%> </p>
                                            <p>
                                                <%=product.user.firstName%>
                                                <i class="fal fa-user"></i>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <% }) %>


                        </div>
                        <div class="buttons">
                            <button type="button" class="seeMore">
                                مشاهده بیشتر
                                <i class="fal fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="latestTabC"
                         role="tabpanel"
                         aria-labelledby="latestTabH">
                        <div class="row">
                            <% latest.forEach(function(product) { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


                                <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                                    <div class="card product hiddenItem">
                                        <div class="card-body">
                                            <img src="<%=product.coverPath%>" />
                                        </div>
                                        <div class="card-footer">

                                            <p> <%=product.fileName%> </p>
                                            <p>
                                                <%=product.user.firstName%>
                                                <i class="fal fa-user"></i>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <% }) %>


                        </div>

                    </div>
                </div>
                <!-- Tabs content -->
            </div>

        </div>
    </section>
    <%-include("footer");-%>
</section>


<!-- Scripts -->
<%-include("scripts");-%>
<!-- Custom -->
<script src="/assets/js/seeMore.js"></script>
<!-- Scripts -->
