<%-include("head");-%>
<%-include("notif");%>
<section class="page loginPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <% if(inputVerify ==true && inputFouned !=true){%>
            <div class="card login">
                <form action="/login" method="post">
                    <h4> شماره تماس یا ایمیل خود را وارد کنید</h4>
                    <input type="text" class="phoneInput" name="loginInput" placeholder="شماره تماس یا ایمیل" />
                    <div class="buttons">
                        <button type="submit" class="next">بعدی</button>
                    </div>
                </form>
            </div>
            <% } %>
            <%if(!inputVerify){%>
            <div class="card code">
                <form action="/register" method="post">
                    <input hidden name="loginInput" value=<%=loginInput%> />
                    <h4> کد ارسال شده برای <%=loginInput%> را وارد کنید</h4>
                    <div class="codeInputs">
                        <input name="verifyCode1" type="text" class="codeInput" id="first" maxlength="1" />
                        <input name="verifyCode2" type="text" class="codeInput" id="second" maxlength="1" />
                        <input name="verifyCode3" type="text" class="codeInput" id="third" maxlength="1" />
                        <input name="verifyCode4" type="text" class="codeInput" id="fourth" maxlength="1" />
                        <input name="verifyCode5" type="text" class="codeInput" id="fifth" maxlength="1" />
                        <input name="verifyCode6" type="text" class="codeInput" id="sixth" maxlength="1" />
                    </div>
                    <div class="buttons">
                        <button type="submit" class="next">بعدی</button>
                        <a href="/login"><button type="button" class="prev">قبلی</button></a>
                        <button type="button" class="codeAgain hidden">ارسال مجدد کد</button>
                    </div>
                </form>
            </div>
            <% } %>
            <%if(inputFouned == true && inputVerify == true  && newUser==true){%>
            <div class="card info">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"
                           id="tabDownH"
                           data-mdb-toggle="tab"
                           href="#tabDownC"
                           role="tab"
                           aria-controls="tabDownC"
                           aria-selected="true">دانلود کننده</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           id="tabUpH"
                           data-mdb-toggle="tab"
                           href="#tabUpC"
                           role="tab"
                           aria-controls="tabUpC"
                           aria-selected="false">آپلود کننده</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
                <!-- Tabs content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active"
                         id="tabDownC"
                         role="tabpanel"
                         aria-labelledby="tabDownH">
                        <form action="/signUpD" enctype="multipart/form-data" method="post">
                            <input hidden name="loginInput" value=<%=loginInput%> />
                            <input hidden name="userType" value="Downloader"/>
                            <h4> اطلاعات خود را وارد کنید </h4>
                            <input name="firstName" type="firstName" placeholder="نام" />
                            <input name="lastName"  type="lastName" placeholder="نام خانوادگی" />
                            <input name="password"  type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                            <input name="passwordConfirmation"  type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                            <div class="buttons">
                                <button type="submit" class="next">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade"
                         id="tabUpC"
                         role="tabpanel"
                         aria-labelledby="tabUpH">
                        <form action="/signUpU" enctype="multipart/form-data" method="post">
                            <input hidden name="loginInput" value=<%=loginInput%> />
                            <input hidden name="userType" value="Uploader"/>
                            <h4> اطلاعات خود را وارد کنید </h4>
                            <input name="firstName" type="firstName" placeholder="نام" />
                            <input name="lastName" type="lastName" placeholder="نام خانوادگی" />
                            <input name="userName" type="text" placeholder="نام کاربری" />
                            <input name="emial" type="email" class="mail" placeholder="ایمیل شما" />
                            <i class="fal fa-envelope"></i>
                            <input name="instagram" type="url" class="instagram" placeholder="لینک اینستاگرام شما" />
                            <i class="fab fa-instagram"></i>
                            <input name="twitter" type="url" class="twitter" placeholder="لینک توئیتر شما" />
                            <i class="fab fa-twitter"></i>
                            <textarea class="bio" placeholder="درباره شما..."></textarea>
                            <div class="uploadPic">
                                <input name="profilePic" type="file" class="profilePic" accept="image/*" />
                                <i class="far fa-spinner-third fa-spin hidden"></i>
                                <i class="far fa-check-circle hidden"></i>
                            </div>
                            <input name ="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                            <input name ="passwordConfirmation" type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                            <div class="buttons">
                                <button type="submit" class="next">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
            <%if(inputFouned == true && inputVerify == true && newUser==false){%>
            <div class="card password">
                <form action="/signIn" enctype="multipart/form-data" method="post">
                    <h4> رمز عبور خود را وارد کنید </h4>
                    <input hidden name="loginInput" value=<%=loginInput%> />
                    <input name ="password" type="password" class="passwordInput" placeholder="رمز عبور " />
                    <div class="buttons">
                        <button type="submit" class="next">ورود</button>
                    </div>
                </form>
            </div>
            <% } %>
        </div>
    </section>
</section>

<!-- Scripts -->
<%-include("scripts");-%>
<%console.log(session.errors);%>
<!-- Custom -->
<script src="../assets/js/codeInput.js"></script>

<!-- Scripts -->
