<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page orderPage">
    <%-include("header");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="details">
                <div class="row top">
                    <div class="col-sm-4 col-xs-12 date">
                        <label> تاریخ خرید </label>
                        <p> 12/09/99 </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 count">
                        <label> تعداد آثار </label>
                        <p> <%=order.quantity%> </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 price">
                        <label> قیمت نهایی </label>
                        <p><span> <%=order.totalPrice%> </span> تومان </p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="row">
                    <% order.products.forEach(function(product) { %>
                        <% console.log(product.product.coverPath)%>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card item">
                                <div class="row bottom">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                        <a href="#">
                                            <img src="/<%=product.product.coverPath%>" />
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                        <h6 class="name">
                                            <%=product.product.fileName%>
                                        </h6>
                                        <p>
                                            <%=product.size%>
                                        </p>
                                        <p class="price">
                                            <span> 12000 </span>
                                            تومان
                                        </p>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%});%>
                </div>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>
<%-include("scripts");-%>