<%-include("head");-%>
<section class="page detailPage">
    <%-include("header");-%>
    <section class="contents">

        <div class="container-fluid">
            <div class="top">
                <div class="row">
                    <div class="col-lg-4 col-md-12 picture">
                        <div class="card">
                            <img src="/<%=item.coverPath%>" />
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-12 infos">
                        <div class="card">
                            <div class="name info">
                                <label>  نام اثر </label>
                                <p><%=item.fileName%> </p>
                            </div>
                            <div class="artist info">
                                <label> هنرمند</label>


                                <a href="/user/<%=item.user.unique_id%>/<%=item.user.firstName%>">
                                    <p>
                                        <%=item.user.firstName%>
                                        <i class="fal fa-user"></i>
                                    </p>

                                </a>

                            </div>
                            <div class="type info">
                                <label> فایل </label>
                                <p> png </p>
                            </div>
                            <div class="tags info">
                                <label> تگ ها </label>
                                <div class="tagLinks">
                                    <a href="#"> tag jsvcshvdhavwdvvwkjfvkhdv1 </a>
                                    <a href="#"> tag 2 </a>
                                    <a href="#"> tabhvhvhg 3 </a>
                                    <a href="#"> tag 4 </a>
                                    <a href="#"> tajhcjghvhjvg 5 </a>
                                    <a href="#"> tajcygchjcg 6 </a>
                                    <a href="#"> tag 7 </a>
                                    <a href="#"> tag 8 </a>
                                </div>
                            </div>
                            <div class="sizes info">
                                <label> سایز های موجود </label>

                                <div class="options">
                                    <input type="radio" value="small">
                                    <label for="small" class="sizeOption" id="small">کوچک(<span>1000*1000</span>)</label>

                                    <input type="radio" value="medium">
                                    <label for="medium" class="sizeOption" id="medium">متوسط(<span>1500*1500</span>)</label>

                                    <input type="radio" value="large">
                                    <label for="large" class="sizeOption" id="large"> بزرگ (<span>2000*2000</span>)</label>

                                    <input type="radio" value="original">
                                    <label for="original" class="sizeOption  selected" id="original"> اصلی(<span>3000*3000</span>)</label>
                                </div>
                            </div>
                            <div class="price info">
                                <label> قیمت </label>
                                <% if(item.orginalPrice === 0){%>
                                <p class="original showPrice">  رایگان </p>
                                <%  }else{%>
                                <p class="original showPrice"> <span><%=item.orginalPrice%></span> تومان </p>
                                <%} %>
                                <% if(item.largePrice === 0){%>
                                <p class="large">  رایگان </p>
                                <% }else{%>
                                <p class="large"> <span><%=item.largePrice%></span> تومان </p>
                                <%}%>
                                <% if(item.mediumPrice === 0){%>
                                <p class="medium">  رایگان </p>
                                <%}else{%>
                                <p class="medium"><span><%=item.mediumPrice%></span> تومان </p>
                                <%}%>
                                <% if(item.smallPrice === 0){%>
                                <p class="small">  رایگان </p>
                                <%}else{%>
                                <p class="small "> <span><%=item.smallPrice%></span> تومان </p>
                                <%}%>










                            </div>
                            <div class="buttons">
                                <button type="submit" class="download"> دانلود </button>
                                <a href="/add-to-cart/<%=item.id%>/orginal"><button type="button" class="addToCart"> افزودن به سبد خرید </button></a>
                                <button type="submit" class="buy"> خرید </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="description">
                <div class="row">
                    <h4 class="title"> توضیحات </h4>
                    <p><%=item.description%></p>
                </div>
            </div>
            <div class="related">
                <h2> محصولات مرتبط </h2>
                <div class="owl-carousel">
                    <% searched.forEach(function(product) { %>
                    <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                        <img src="/<%=product.coverPath%>" />
                    </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>

    <%-include("footer");-%>
</section>

<!-- Scripts -->
<%-include("scripts");-%>
<!-- Custom -->
<script src="/assets/js/chooseSize.js"></script>
<!-- Owl Carousel -->
<script src="/assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        items: 4,
        loop: false,
        nav: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1280: {
                items: 4
            },
            1440: {
                items: 5
            }
        }
    })
</script>
<!-- Scripts -->
