<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page detailPage">
    <%-include("header");-%>
    <section class="contents">

        <div class="container-fluid">
            <div class="top">
                <div class="row">
                    <div class="picture">
                        <div class="card">
                            <div class="imageShadow">
                                <img src="/<%=item.coverPath%>" />
                            </div>
                        </div>

                    </div>
                    <div class="infos">
                        <div class="card">
                            <div class="name info">
                                <label>  نام اثر </label>
                                <p><%=item.fileName%> </p>
                                
                            </div>
                            
                            <div class="artist info">
                                <label> هنرمند</label>


                                <a href="/<%=item.user.userName%>">
                                    <p>
                                        <%=item.user.userName%>
                                        <i class="fal fa-user"></i>
                                    </p>

                                </a>

                            </div>
                            <div class="info downloads">
                                <label>   تعداد دانلود </label>
                                <p> <%=item.downloadedCount%> </p>
                            </div>
                            <div class="type info">
                                <label> فایل </label>
                                <p> <%=item.fileType%> </p>
                            </div>
                            <div class="tags info">
                                <label> تگ ها </label>
                                <div class="tagLinks">
                                    <% for(var i=0; i < item.tags.length ;i++){ %>
                                    <% var tag = item.tags[i] %>
                                    <% var path = item.tags[i].replace("#","") %>
                                    <a href="/tags/<%=path%>"> <%=tag%> </a>
                                    <% } %>
                                </div>
                            </div>
                            <div class="sizes info">
                                <label> سایز های موجود </label>

                                <div class="options">
                                    <div class="shownSize">
                                        <label class="selectedSize">
                                            اصلی(<span>3000*3000</span>)

                                        </label>
                                        <i class="far fa-angle-down"></i>
                                    </div>
                                    <input type="radio" value="small">
                                    <label for="small" class="sizeOption" id="small">کوچک(<span>1000*1000</span>)</label>

                                    <input type="radio" value="medium">
                                    <label for="medium" class="sizeOption" id="medium">متوسط(<span>1500*1500</span>)</label>

                                    <input type="radio" value="large">
                                    <label for="large" class="sizeOption" id="large"> بزرگ (<span>2000*2000</span>)</label>

                                    <input type="radio" value="original">
                                    <label for="original" class="sizeOption selected" id="original"> اصلی(<span>3000*3000</span>)</label>
                                </div>
                            </div>
                            <div class="price info">
                                <label> قیمت </label>
                                <% if(item.orginalPrice === 0){%>
                                <p class="original showPrice">رایگان </p>
                                <%  }else{%>
                                <p class="original showPrice"> <span><%=item.orginalPrice%></span> تومان </p>
                                <%} %>
                                <% if(item.largePrice === 0){%>
                                <p class="large">رایگان </p>
                                <% }else{%>
                                <p class="large"> <span><%=item.largePrice%></span> تومان </p>
                                <%}%>
                                <% if(item.mediumPrice === 0){%>
                                <p class="medium">رایگان </p>
                                <%}else{%>
                                <p class="medium"><span><%=item.mediumPrice%></span> تومان </p>
                                <%}%>
                                <% if(item.smallPrice === 0){%>
                                <p class="small">رایگان </p>
                                <%}else{%>
                                <p class="small "> <span><%=item.smallPrice%></span> تومان </p>
                                <%}%>
                            </div>
                            <div class="buttons">
                                <input id="bought" type="text" value=<%=size%> hidden>
                               <% if(admin==="true"){ %>
                                    <a href="/edit/<%=item.user.unique_id%>/<%=item.productId%>/<%=item.fileName%>"> <button type="button" class="download"> ادیت </button></a>
                                    <button type="button" class="report"> حذف </button></a>
                                <%}%>
                                <%if(admin === "false"){ %>
                                   
                                        <a href="/download/<%=item.id%>/original"> <button type="button" class="download" hidden> دانلود </button></a>
                                        
                                        <a id="addToCart" href="/add-to-cart/<%=item.id%>/original"><button type="button" class="addToCart" hidden> افزودن به سبد خرید </button></a>
                                        <a href="/buy/<%=item.id%>/original">  <button type="button" class="buy" hidden> خرید </button></a>
                                     
                                        <button type="button" class="report"> ریپورت </button></a>
        

                                <%}%>

                                


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="description">
                <h5 class="title"> توضیحات </h5>
                <p><%=item.description%></p>
            </div>
            <div class="related">
                <h4> محصولات مرتبط </h4>
                <div class="owl-carousel">
                    <% if(searched){%>
                    <% searched.forEach(function(product) { %>
                    <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                        <div class="imageShadow">
                            <img src="/<%=product.coverPath%>" />
                        </div>
                    </a>
                    <% }) %>
                    <% } %>

                </div>
            </div>
        </div>
    </section>

    <%-include("footer");-%>
</section>

<!-- Scripts -->
<%-include("scripts");-%>
<!-- Custom -->
<script src="/assets/js/chooseSize.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        items: 4,
        loop: false,
        nav: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1280: {
                items: 4
            },
            1440: {
                items: 5
            }
        }
    })
</script>
<!-- Scripts -->
