<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page detailPage">
    <%-include("header");-%>
    <section class="contents">

        <div class="container-fluid">
            <div class="top">
                <div class="row">
                    <div class="picture">
                        <div class="card">
                            <div class="imageShadow">
                                <img src="/<%=item.coverPath%>" />
                            </div>
                        </div>

                    </div>
                    <div class="infos">
                        <div class="card">
                            <div class="name info">
                                <label>  نام اثر </label>
                                <p><%=item.fileName%> </p>

                            </div>

                            <div class="artist info">
                                <label> هنرمند</label>


                                <a href="/<%=item.user.userName%>">
                                    <p>
                                        <%=item.user.userName%>
                                        <i class="fal fa-user"></i>
                                    </p>

                                </a>

                            </div>
                            <div class="info downloads">
                                <label>   تعداد دانلود </label>
                                <p> <%=item.downloadedCount%> </p>
                            </div>
                            <%if(item.filePath !==1){%>
                            <div class="fileTypes info">
                                <label> نوع فایل </label>

                                <div class="options">
                                    <div class="shownType">
                                        <label class="selectedType">
                                            <%=item.filePath[0].fileType%>
                                        </label>
                                        <i class="far fa-angle-down"></i>
                                    </div>
                                    <% item.filePath.forEach(function(t){%>
                                        <%if(boughtTypes.includes(t.fileType)){%>
                                        <label for=<%=t.fileType%> class="typeOption type bought" id="small"><%=t.fileType%></label>
                                        <%}else{%>
                                            <label for=<%=t.fileType%> class="typeOption type" id="small"><%=t.fileType%></label>
                                            <%}%>
                                    <%})%>
                                    
                                </div>
                            </div>
                            <%}%>
                            <%if(item.fileTypes.length ===1){%>
                            <div class="type info">
                                
                                <label> فایل </label>
                                <p> <%=item.filePath[0].fileType%> </p>
                            </div>
                            <%}%> 
                            <%if(item.tags.length != 0 && item.tags != ""){%>
                            <div class="tags info">
                                <label> تگ ها </label>
                                <div class="tagLinks">
                                    <% for(var i=0; i < item.tags.length ;i++){ %>
                                    <% var tag = item.tags[i] %>
                                    <% var path = item.tags[i].replace("#","") %>
                                    <a href="/tags/<%=path%>"> <%=tag%> </a>
                                    <% } %>
                                </div>
                            </div>
                            <% }%>
                            <!-- <div class="sizes info">
                                <label> سایز های موجود </label>

                                <div class="options">
                                    <div class="shownSize">
                                        <label class="selectedSize">
                                            اصلی

                                        </label>
                                        <i class="far fa-angle-down"></i>
                                    </div>
                                    <% if (item.smallPrice != undefined){%>
                                    <label for="small" class="sizeOption size" id="small">کوچک</label>
                                    <%}%>
                                    <% if (item.mediumPrice != undefined){%>
                                    <label for="medium" class="sizeOption size" id="medium">متوسط</label>
                                    <%}%>
                                    <% if (item.largePrice != undefined){%>
                                    <label for="large" class="sizeOption size" id="large"> بزرگ </label>
                                    <%}%>
                                    <label for="original" class="sizeOption selected size" id="original"> اصلی</label>
                                    <label for="original" class="sizeOption selected" id="original"> اصلی(<span>3000*3000</span>)</label>
                                </div>
                            </div> -->
                            <div class="price info">
                                <label> قیمت </label>
                                <% if(item.orginalPrice === 0){%>
                                <p class="original showPrice">رایگان </p>
                                <%  }else{%>
                                <p class="original showPrice"> <span><%=item.orginalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span> تومان </p>
                                <%} %>
                                <!-- <% if(item.largePrice === 0){%>
                                <p class="large">رایگان </p>
                                <% }if(item.largePrice !== null && item.largePrice !== 0){%>
                                <p class="large"> <span><%=item.largePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span> تومان </p>
                                <%}%>
                                <% if(item.mediumPrice === 0){%>
                                <p class="medium">رایگان </p>
                                <% }if(item.mediumPrice !== null && item.mediumPrice !== 0){%>
                                    <p class="medium"> <span><%=item.mediumPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span> تومان </p>
                                    <%}%>
                                <% if(item.smallPrice === 0){%>
                                <p class="small">رایگان </p>
                                <% }if(item.smallPrice !== null && item.smallPrice !== 0){%>
                                <p class="small"> <span><%=item.smallPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span> تومان </p>
                                <%}%> -->
                            </div>
                            <div class="buttons">
                                <input id="bought" type="text" value=<%=boughtTypes%> hidden>
                                <% if(admin==="true"){ %>
                                <a href="/edit/<%=item.user.unique_id%>/<%=item.productId%>/<%=item.fileName%>">
                                    <button type="button" class="changeInfo">
                                        تغییر مشخصات
                                        <i class="far fa-edit"></i>
                                    </button>
                                </a>
                                <button type="button" class="pink">
                                    حذف
                                    <i class="fal fa-trash"></i>
                                </button></a>
                                <%}%>
                                <%if(admin === "false"){ %>
                                    <%if(item.orginalPrice === 0){ %>
                                        <a class="downloadLink" href="/download/<%=item.id%>/<%=item.filePath[0].fileType%>">
                                            <button type="button" class="download" >
                                                دانلود
                                                <i class="fal fa-cloud-download"></i>
                                            </button>
                                        </a>
                                        <%}else{%>
                                            <a class="downloadLink" href="/download/<%=item.id%>/<%=item.filePath[0].fileType%>" hidden>
                                                <button type="button" class="download" >
                                                    دانلود
                                                    <i class="fal fa-cloud-download"></i>
                                                </button>
                                            </a>
                                            <a class="addToCartLink" href="/add-to-cart/<%=item.id%>/<%=item.filePath[0].fileType%>">
                                                <button type="button" class="addToCart" >
                                                    افزودن به سبد خرید
                                                    <i class="fal fa-shopping-bag"></i>
                                                </button>
                                            </a>
                                            <a class="buyLink" href="/buy/<%=item.id%>/<%=item.filePath[0].fileType%>">
                                                <button type="button" class="buy" >
                                                    خرید
                                                    <i class="fal fa-shopping-bag"></i>
                                                </button>
                                            </a>
                                            <%}%>

                                


                                <button type="button" class="pink" data-mdb-toggle="modal"
                                        data-mdb-target="#reportModal">
                                    گزارش
                                    <i class="fal fa-flag"></i>
                                </button>


                                <%}%>
                                <div class="modal fade"
                                     id="reportModal"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <%if(item.description){%>
            <div class="description">
                <h5 class="title"> توضیحات </h5>
                <p><%=item.description%></p>
            </div>
            <% }%>

            <div class="related">
                <h4> محصولات مرتبط </h4>
                <div class="owl-carousel">
                    <% if(searched){%>
                    <% searched.forEach(function(product) { %>
                    <%if(product.productId != item.productId){%>
                    <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                        <div class="imageShadow">
                            <img src="/<%=product.coverPath%>" />
                        </div>
                    </a>
                    <%  }%>
                    <% });%>
                    <% } %>

                </div>
            </div>
        </div>
    </section>

    <%-include("footer");-%>
</section>

<!-- Scripts -->
<%-include("scripts");-%>

<!-- Custom -->
<script src="/assets/js/chooseSize.js"></script>

<!-- Owl Carousel -->

<script type="text/javascript">

    $('.owl-carousel').owlCarousel({
        items: 4,
        loop: false,
        nav: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1280: {
                items: 4
            },
            1440: {
                items: 5
            }
        }
    })
</script>


