<%-include("head");-%> <%-include("uploadButton");-%>
<section class="page searchPage">
  <%-include("header");-%>
  <section class="contents">
    <div class="container-fluid">
      <div class="topFilters">
        <div class="advancedSection">
          <div class="seeAdvanced">
            <p>فیلتر <i class="sliders fal fa-sliders-h"></i></p>
          </div>
          <form action="/search/advanced/home/<%=searchedItem%>" method="POST">
            <div class="advanced advancedHidden">
              <div class="category">
                <lable class="title"> دسته </lable>

                <div class="options">
                  <input name="photo" type="radio" id="photo" value="type" />
                  <label for="photo" class="radioLabel">عکس</label>

                  <input
                    name="graphic"
                    type="radio"
                    id="graphic"
                    value="type"
                  />
                  <label for="graphic" class="radioLabel">گرافیک</label>

                  <input name="clip" type="radio" id="clip" value="type" />
                  <label for="clip" class="radioLabel">ویدیو</label>

                  <input name="gif" type="radio" id="gif" value="type" />
                  <label for="gif" class="radioLabel">GIF</label>

                  <input name="psd" type="radio" id="psd" value="fileType" />
                  <label for="psd" class="radioLabel">PSD</label>

                  <input name="png" type="radio" id="png" value="fileType" />
                  <label for="png" class="radioLabel">PNG</label>
                </div>
              </div>
              <div class="orientation">
                <lable class="title"> نسبت‌ابعاد </lable>
                <div class="options">
                  <input
                    name="portrate"
                    type="radio"
                    id="portate"
                    value="dimension"
                  />
                  <label for="portrate" class="radioLabel">عمودی</label>

                  <input
                    name="landscape"
                    type="radio"
                    id="landscape"
                    value="dimension"
                  />
                  <label for="landscape" class="radioLabel">افقی</label>

                  <input
                    name="square"
                    type="radio"
                    id="square"
                    value="dimension"
                  />
                  <label for="square" class="radioLabel">مربع</label>
                </div>
              </div>
              <div class="price">
                <lable class="title"> قیمت </lable>
                <div class="options">
                  <input name="free" type="radio" id="free" value="free" />
                  <label for="free" class="radioLabel">رایگان</label>

                  <input
                    name="non-free"
                    type="radio"
                    id="money"
                    value="non-free"
                  />
                  <label for="money" class="radioLabel">غیر رایگان</label>
                </div>
              </div>
              <div class="buttons">
                <button type="submit">اعمال تغییرات</button>
              </div>
            </div>
          </form>
        </div>
        <div class="sortSection">
          <div class="sorting">
            <div class="shownSort">
              <label class="selectedSort"> <%=sortby%> </label>
              <i class="fal fa-sort-amount-down-alt"></i>
            </div>
            <a href="<%=link%>?&sortby=lowPrice">
              <label for="cheap" class="sortOption" id="cheap"
                >ارزان ترین</label
              ></a
            >
            <a href="<%=link%>?&sortby=highPrice"
              ><label for="expensive" class="sortOption" id="expensive"
                >گرانترین</label
              ></a
            >

            <a href="<%=link%>?&sortby=0"
              ><label for="related" class="sortOption" id="related">
                مرتبط ترین</label
              ></a
            >

            <a href="<%=link%>?&sortby=mostView"
              ><label for="best" class="sortOption selected" id="best">
                بیشترین بازدید</label
              ></a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <%if(searched.length == 0){%>
        <div class="empty">
          <h2>
            <i class="fal fa-search"></i>
            نتیجه ای یافت نشد !
          </h2>
        </div>

        <%}if(searched.length != 0){%> <% searched.forEach(function(product) {
        %>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 result">
          <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
            <div class="card product">
              <div class="card-body">
                  <img src="/<%=product.coverPath%>" />
              </div>
              <div class="card-footer">
                <p><%=product.fileName%></p>
                <p>
                  <%=product.user.userName%>
                  <i class="fal fa-user"></i>
                </p>
              </div>
            </div>
          </a>
          
        </div>
        

        <% }) %> <% }%>
        
      </div>
      <div class="buttons">
        <button type="button" class="seeMore">
            مشاهده بیشتر
            <i class="fal fa-angle-down"></i>
        </button>
    </div>
      
    </div>
    
  </section>
  <%-include("footer");-%>
</section>
<!-- Scripts -->
<%-include("scripts");-%>
<% var searchedLength = searched.length;%>

        <script>
          var getsearchedLength= <%=searchedLength%> ;
          var searchedCounter=4;
          var extraSearched=getsearchedLength%4;
          if(getsearchedLength<4){
            $("button.seeMore").fadeOut(400);
          }

            
            $("button.seeMore").click(function () {
                searchedCounter=searchedCounter+4;
            if (searchedCounter+extraSearched>getsearchedLength  || searchedCounter==getsearchedLength) {
                $("button.seeMore").fadeOut(400);
            }
            
            });


            </script>
<!-- Scripts -->
