<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page searchPage">
    <%-include("header");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="popularTags">
                <div class="card">
                    <a href="#"> ptag1 </a>
                    <a href="#"> ptag2 </a>
                    <a href="#"> ptag3 </a>
                    <a href="#"> ptag4 </a>
                    <a href="#"> ptag5 </a>
                    <a href="#"> ptag6 </a>
                    <a href="#"> ptag7 </a>
                    <a href="#"> ptag8 </a>
                    <a href="#"> ptag9 </a>
                    <a href="#"> ptag10 </a>
                </div>
            </div>
            <div class="row">
                <% searched.forEach(function(product) { %>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 result">
                    <a href="/Product/<%=product.productId%>/<%=product.fileName%>">
                        <div class="card product">
                            <div class="card-body">
                                <img src="/<%=product.coverPath%>" />
                            </div>
                            <div class="card-footer">
                                <p> <%=product.fileName%> </p>
                                <p>
                                    <%=product.user.firstName%>
                                    <i class="fal fa-user"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <% }) %>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>
<!-- Scripts -->
<%-include("scripts");-%>
<!-- Scripts -->
