<%-include("head");-%>

<section class="page uploadPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <%-include("notif");-%>
            <div class="row">
                <form action="/upload" enctype="multipart/form-data" method="post">
                    
                    <div class="info">
                        <h4> اطلاعات اثر خود را وارد کنید </h4>
                        <div class="category">
                            <lable class="title"> انتخاب دسته </lable>

                            <div class="options">
                                <input type="text" id="types" name="types" style="display:none;" required />

                                <label for="photography" class="radioLabel" id="photography">عکس</label>

                                <label for="graphic" class="radioLabel" id="graphic">گرافیک</label>

                                <label for="clip" class="radioLabel" id="clip">ویدیو</label>

                                <label for="gif" class="radioLabel" id="gif">GIF</label>
                            </div>
                        </div>
                        <div class="uploadFile">
                            <!--
                            <i class="far fa-spinner-third fa-spin hidden"></i>
                            <i class="far fa-check-circle hidden"></i>-->
                            <label> فایل خود را آپلود کنید </label>
                            <ul>
                                <li class="file">
                                    <i class="fal fa-image"></i>
                                    <p> PNG </p>
                                </li>
                                <li class="file">
                                    <i class="fal fa-image"></i>
                                    <p> PSD </p>
                                </li>
                                <li class="file">
                                    <i class="fal fa-image"></i>
                                    <p> JPEG </p>
                                </li>
                                <li class="button">
                                    <input id="productUploader" type="file" name="productFiles" required />
                                </li>

                            </ul>
                        </div>
                        <div class="uploadCover">
                            <input id="coverUploader" type="file" name="productCover" required />
                            <i class="far fa-spinner-third fa-spin hidden"></i>
                            <i class="far fa-check-circle hidden"></i>
                        </div>
                        <div class="name">
                            <label class="goTop">  نام اثر</label>
                            <input name="fileName" type="text" class="nameInput" placeholder="نام اثر" required />
                        </div>
                        <div class="tags">
                            <label class="goTop">  تگ ها</label>
                            <input name="tags" type="text" class="tagsInput" placeholder="با استفاده از تگ ها بیشتر دیده شوید" />
                        </div>
                        <div class="description">
                            <textarea name="description" class="descriptionText" maxlength="100" placeholder="توضیحات اثر"></textarea>
                        </div>
                    </div>

                    
                    <div class="pricing original">
                        <input name="orginalPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز اصلی" maxlength="11" required />
                        <label class="toman"> تومان </label>
                        <label class="free"> رایگان </label>
                    </div>
                    <div class="accordion" id="accorionPrice">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#other"
                                        aria-expanded="true"
                                        aria-controls="other">
                                    انتشار با سایزهای دیگر
                                </button>
                            </h2>
                            <div id="other"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="other"
                                 data-mdb-parent="#accorionPrice">
                                <div class="accordion-body">
                                    <div class="pricing large">
                                        <input name="largePrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز بزرگ " maxlength="11" />
                                        <label class="toman"> تومان </label>
                                        <label class="free"> رایگان </label>
                                    </div>
                                    <div class="pricing medium">
                                        <input name="mediumPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز متوسط" maxlength="11" />
                                        <label class="toman"> تومان </label>
                                        <label class="free"> رایگان </label>
                                    </div>
                                    <div class="pricing small">
                                        <input name="smallPrice" type="text" class="price" onkeypress="return isNumberKey(event)" placeholder="قیمت سایز کوچک" maxlength="11" />
                                        <label class="toman"> تومان </label>
                                        <label class="free"> رایگان </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <button type="submit">
                            تایید
                            <i class="fal fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<!-- Custom -->
<script src="/assets/js/uploadPage.js"></script>
