<%-include("head");-%>

<%-include("uploadButton");-%>
<section class="page userPage">
    <%-include("header");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="row top">
                <div class="col-12 info">
                    <div class="row">
                        <div class="col-12 summary">
                            <div class="picture">
                                <% if (user.profilePicPath == "no picture" || user.profilePicPath === undefined){%>
                                    <i class="fal fa-user fa-3x"></i>
                                <%}else{%>
                                <img src="<%=user.profilePicPath%>" />
                                <% }%>
                            </div>
                            <div class="bottom">
                                <div class="name">
                                    <p> <%=user.userName%> </p>
                                </div>
                                <div class="socialStats">
                                    <%if(user.email){%>
                                        <div class="mail">
                                            <a href="mailto:<%=user.email%>"><i class="fal fa-envelope"></i></a>
                                        </div>
                                        <%}%>
                                        <% if(user.instagram){%>
                                        <div class="instagram">

                                            <a href="<%=user.instagram%>"> <i class="fab fa-instagram"></i> </a>
                                        </div>
                                        <%}%>
                                        <% if(user.twitter){%>
                                        <div class="twitter">
                                            <a href="<%=user.twitter%>"><i class="fab fa-twitter"></i></a>
                                        </div>

                                        <%  }%>
                                    
                                   

                                    <div class="productsCount">
                                        
                                        <%if(searched.length==0){%>
                                            <p>بدون اثر</p>
                                            <%}else{%>
                                            <label> تعداد آثار:</label>
                                            <p> <%=searched.length%> </p>
                                            <% }%>
                                       
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12 bio">
                            <p>
                                <%=user.bio%>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-12 products">
                    <div class="row">
                        <% for (var i = 0; i < searched.length; i++){%>
                            <div class="col-lg-4 col-sm-6 col-xs-12 col-xl-3">
                                <a href="/Product/<%=searched[i].productId%>/<%=searched[i].fileName%>">
                                    <div class="card product">
                                        <div class="card-body">
                                            <img src="<%=searched[i].coverPath%>" />
                                        </div>
                                        <div class="card-footer">
                                            <p> <%=searched[i].fileName%> </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <%}%>
                        
                    </div>
                    <div class="buttons">
                        <button type="button" class="seeMore">
                            مشاهده بیشتر
                            <i class="fal fa-angle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<script src="./assets/js/user.js"></script>
